<style>
    .heading {
        color: #35589A
    }

    .sub {
        color: #009DAE
    }
</style>
<app-header></app-header>
<h3 style="color: green">{{today | date: 'full' | uppercase}}</h3>
<h3 style="color: green">{{003.1400 | number: '1.2-3'}}</h3>
<h3 style="color: green">{{4.99 | currency:'USD'}}</h3>

<h3 class="sub">#Template Reference Variable</h3>
<input type="text" placeholder="Reference" #ref>
<button (click)="getRef(ref)">Ref</button>

<h3 class="sub">#Two Way Binding</h3>
<input type="text" [(ngModel)]="data">
<h3>{{data}}</h3>
<br>
<br>

<h3 class="sub">#Send data child to parent component</h3>
<h1 class="heading">Welcome {{title}}</h1>
<app-children (updateDataEvent)="updateData($event)"></app-children>

<h3 class="sub">#Reusable Component</h3>
<ul *ngFor="let user of userDetails">
    <app-user-details [itemUser]="user"></app-user-details>
</ul>
<app-child [itemCount]="count"></app-child>
<button (click)="getName(100)">click-me</button>
<br />

<h3 class="sub">#Get Value</h3>
<input type="text" #box placeholder="input your name" name="username" />
<br />
<button (click)="getValue(box.value)">Get Value</button>
<p>Box value is: {{displayValue}}</p>

<h3 class="sub">#Counter Example</h3>
<button (click)="counter('add')">+</button>
<h3>Count {{count}}</h3>
<button (click)="counter('minus')">-</button>
<br />

<h3 class="sub">#If Else Condition</h3>
<h4 *ngIf="show; then ifBlock else elseBlock">
</h4>
<ng-template #ifBlock>
    <h4>The Abyss Watcher</h4>
</ng-template>
<ng-template #elseBlock>
    <h4>The Abyss</h4>
</ng-template>

<h3 class="sub">#Multiple condition or else if</h3>
<ng-template [ngIf]="color==='blue'">
    <h2 style="color: blue">Blue Color.</h2>
</ng-template>
<ng-template [ngIf]="color==='red'">
    <h2 style="color: red">Red Color.</h2>
</ng-template>
<ng-template [ngIf]="color==='green'">
    <h2 style="color: green;">Green Color.</h2>
</ng-template>

<h3 class="sub">#Switch case</h3>
<div [ngSwitch]="color">
    <h2 *ngSwitchCase="'red'" style="color: red">Red Color</h2>
    <h2 *ngSwitchCase="'blue'" style="color: blue">Blue Color</h2>
    <h2 *ngSwitchCase="'green'" style="color: green">Green Color</h2>
    <h2 *ngSwitchDefault>Unknown Color</h2>
</div>
<h3 class="sub">#For Loop</h3>
<h4 *ngFor="let user of users" style="color: #14279B">{{user}}</h4>
<h4 *ngFor="let detail of userDetails" style="color: #14279B">character : {{detail.name}} email : {{detail.email}}</h4>

<h3 class="sub">#Nested Loop</h3>
<ul *ngFor="let contract of userDetails" style="color: #14279B">
    <li>{{contract.name}}</li>
    <li>{{contract.email}}</li>
    <ul *ngFor="let social of contract.socials">
        <li>{{social}}</li>
    </ul>
</ul>

<h3 class="sub">#Style Binding | Dynamic Style</h3>
<h2 [style.color]="fontColor" [style.backgroundColor]="bgColor">Preview text</h2>
<button (click)="updateColor()">Preview text</button>

<h3 class="sub">#Basic Form</h3>
<form #basicForm="ngForm" (submit)="getData(basicForm.value)">
    <input type="text" ngModel name="user" placeholder="user">
    <br />
    <br />
    <input type="text" ngModel name="email" placeholder="email">
    <br />
    <br />
    <input type="text" ngModel name="password" placeholder="password">
    <br />
    <br />
    <button>Register</button>
</form>
<ul>
    <li>
        Name : {{dataForm.user}} Email : {{dataForm.email}}
    </li>
</ul>

<h3 class="sub">#Toggle Element on button | hide and show tag</h3>
็<h1 *ngIf="show" style="color: orange">Hidden / show</h1>
<button (click)="toggleShow()">show / hide</button>

<h3 class="sub">#Todo list in angular</h3>
<input type="text" #task placeholder="New Task.">
<button (click)="addTask(task.value)">Add Task</button>
<br>
<br>
<ul *ngFor="let item of list">
    <li><button (click)="removeTask(item.id)">X</button> {{item.id}} // {{item.name}} </li>
</ul>